@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.headerx1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 3px white solid;
  border-top: 0px;
  border-radius: 9px;
  background-image: url('https://images.pexels.com/photos/4194857/pexels-photo-4194857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.right_part,
.left_part {
  margin: 5px 5px 5px 5px;
}

.max_left {
  max-width: 600px;
}

.tittle_left p {
  font-family: "Vujahday Script", cursive;
  font-size: 40px;
  margin: auto;
  color: black;
  padding: 5px;
  margin: 2px 5px 2px 0;
}

.sentence_left {
  display: flex;
  padding: 5px;
}
.sentence_left p {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.753);
  padding: 5px;
  line-height: 45px;
  font-family: "Vujahday Script", cursive;
  margin: 0;
}

.text_left {
  display: flex;
  padding: 5px;
  margin: 10px 5px 10px 0;
}
.text_left p {
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  line-height: 30px;
  margin: 0;
}

.buttom_left {
  display: flex;
  margin: 20px 10px 20px 10px;
}
.buttom_left button {
  margin: auto;
  border-radius: 50px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.6s;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: black;
  border: 1px solid rgb(255, 249, 249);
}.buttom_left button:hover {
  background: #fffffff8;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: black 1px solid;
  box-shadow: 0 0 5px #5854549c, 0 0 25px #ced1d0cb;
}

@media (max-width: 992px) {
  .headerx1 {
    display: block;
  }
}

div.right_part{
  display: flex;
  justify-content: center;
}

div.carousel.slide{
  width: 90%;
  margin: auto;
}

div.carousel-inner{
  border-radius: 10px;
}

a.carousel-control-next{
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}
a.carousel-control-prev {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

img.imag {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);  
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
}

div.carousel-caption h3{
  font-family: 'Luxurious Roman', cursive;
  color: rgb(255, 255, 255);
  font-weight: 900;
}div.carousel-caption p{
  font-family: 'Luxurious Roman', cursive;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
